html, body {
  width: 250px;
  background-color: rgb(20, 30, 36);
}

.hidden {
  display: none;
}

#popup-content {
  background-color: rgb(20, 30, 36);
}

.title {
  font-size: 34px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color: rgb(231, 109, 81);
}

.descrip {
  font-size: 15px;
  font-style: italic;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color: rgb(231, 109, 81);
}

.dl {
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  background-color: rgb(52, 110, 124);
  color: rgb(235, 235, 235);
}

.center {
  font-size: 15px;
	text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  background-color: rgb(52, 110, 124);
  color: rgb(16, 47, 59);
}

#dailyHour {

  font-size: 13px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  align-content:left;
  background-color: rgb(20, 30, 36);
  color: rgb(205, 205, 205);

  border: 3px solid rgb(52, 110, 124);
    width: 120px;
    border-radius: 3px;
}

#dailyHour:hover {
  font-size: 13px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  align-content:left;
  background-color: rgb(26, 57, 69);
  color: rgb(205, 205, 205);

  border: 3px solid rgb(52, 110, 124);
    width: 120px;
    border-radius: 3px;
}

#dailyMin {

  font-size: 13px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  align-content:right;
  background-color: rgb(20, 30, 36);
  color: rgb(205, 205, 205);

  border: 3px solid rgb(52, 110, 124);
    width: 120px;
    border-radius: 3px;
}

#dailyMin:hover {
  font-size: 13px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  align-content:right;
  background-color: rgb(26, 57, 69);
  color: rgb(205, 205, 205);

  border: 3px solid rgb(52, 110, 124);
    width: 120px;
    border-radius: 3px;
}

.timeContain {
  color: rgb(235, 235, 235);
  /* align-content: center; */
  display: inline-block;
}

.timeRow {
  font-size: 15px;
}

.timeRow span {
  display: block;
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(0, 0, 0);
}

.hrs {
  display: inline;
  font-size: 15px;
	/* text-align: left; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(205, 205, 205);
}

.secs {
  display: inline;
  font-size: 15px;
	/* text-align: center; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(205, 205, 205);
}

.mins {
  display: inline;
  font-size: 15px;
	/* text-align: right; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(205, 205, 205);
}

#hours {
  display: inline;
  font-size: 20px;
	/* text-align: left; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(231, 109, 81);
}

#minutes {
  display: inline;
  font-size: 20px;
	/* text-align: center; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(231, 109, 81);
}

#seconds {
  display: inline;
  font-size: 20px;
	/* text-align: right; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(231, 109, 81);
}

.bl-container {
  max-height: 135px;
  overflow: auto;
}

.bl-table {
}

.tableHead {
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color: rgb(205, 205, 205);
  min-width: 175px;
}

.bl-table-add-row {
  transition-duration: 0.3s;

  background-color: rgb(231, 109, 81);
  border: none;

  /* color: white; */
  color: rgb(35, 35, 35);

  padding: 0px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bl-table-add-row:hover {

  background-color: rgb(201, 79, 51);

  color: white;
  /* color: rgb(35, 35, 35); */

  border: none;
  padding: 0px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bl-table-row {
  /* background-color: rgb(41, 42, 40); */
}

.bl-table-delete-row {

  transition-duration: 0.3s;

  background-color: rgb(231, 109, 81);
  border: none;

  /* color: white; */
  color: rgb(35, 35, 35);

  padding: 0px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bl-table-delete-row:hover {
  background-color: rgb(201, 79, 51);

  /* color: rgb(35, 35, 35); */
  color: white;

  border: none;
  padding: 0px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.site-name {
  transition-duration: 0.3s;
  border: 3px solid rgb(52, 110, 124);
  background-color: rgb(20, 30, 36);
  color: rgb(235, 235, 235);
}

.site-name:hover {
  border: 3px solid rgb(52, 110, 124);
  background-color: rgb(26, 57, 69);
  color: rgb(235, 235, 235);
}

.save {

  border: 1px solid rgb(231, 109, 81);

  transition-duration: 0.3s;

  display: block;
  max-width: 300px;
  margin: auto;

  text-decoration: none;
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  /* background-color: rgb(231, 109, 81); */
  background-color: rgb(35, 35, 35);

  /* color: rgb(235, 235, 235); */

  /* color: rgb(35, 35, 35); */
  color: rgb(231, 109, 81);
}

.save:hover {

  border: 1px solid rgb(20, 30, 36);

  display: block;
  max-width: 300px;
  margin: auto;

  text-decoration: none;
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  background-color: rgb(201, 79, 51);

  /* color: rgb(35, 35, 35); */

  color: rgb(235, 235, 235);
}

a:link, a:visited {
  /* background-color: rgb(52, 110, 124);
  color: rgb(235, 235, 235); */
  background-color: rgb(231, 109, 81);

  /* color: rgb(235, 235, 235); */
  color: rgb(35, 35, 35);

  transition-duration: 0.3s;

  text-align: center;
  text-decoration: none;
  padding: 0px 80px;
}

a:hover, a:active {
  /* background-color: rgb(231, 109, 81);
  color: rgb(35, 35, 35); */

  background-color: rgb(201, 79, 51);

  /* color: rgb(35, 35, 35); */

  color: rgb(235, 235, 235);
}
