html, body {
  width: 250px;
  background-color: rgb(20, 30, 36);
}

.hidden {
  display: none;
}

#popup-content {
  background-color: rgb(20, 30, 36);
}

.title {
  font-size: 30px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color: rgb(231, 109, 81);
}

.descrip {
  font-size: 15px;
  font-style: italic;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color: rgb(231, 109, 81);
}

.dl {
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  background-color: rgb(52, 110, 124);
  color: rgb(235, 235, 235);
}

.center {
  font-size: 15px;
	text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  background-color: rgb(52, 110, 124);
  color: rgb(16, 47, 59);
}

#dailyHour {
  font-size: 13px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  align-content:left;
  background-color: rgb(20, 30, 36);
  color: rgb(205, 205, 205);

  border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
}

#dailyMin {
  font-size: 13px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;

  align-content:right;
  background-color: rgb(20, 30, 36);
  color: rgb(205, 205, 205);

  border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
}

.timeContain {
  color: rgb(235, 235, 235);
  /* align-content: center; */
  display: inline-block;
}

.timeRow {
  font-size: 15px;
}

.timeRow span {
  display: block;
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(0, 0, 0);
}

.hrs {
  display: inline;
  font-size: 15px;
	/* text-align: left; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(205, 205, 205);
}

.secs {
  display: inline;
  font-size: 15px;
	/* text-align: center; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(205, 205, 205);
}

.mins {
  display: inline;
  font-size: 15px;
	/* text-align: right; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(205, 205, 205);
}

#hours {
  display: inline;
  font-size: 20px;
	/* text-align: left; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(231, 109, 81);
}

#minutes {
  display: inline;
  font-size: 20px;
	/* text-align: center; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(231, 109, 81);
}

#seconds {
  display: inline;
  font-size: 20px;
	/* text-align: right; */
  font-family: Impact, Charcoal, sans-serif;
  color: rgb(231, 109, 81);
}

.bl-container {
  max-height: 150px;
  overflow: auto;
}

.bl-table {
}

.tableHead {
  font-size: 15px;
  font-family: Impact, Charcoal, sans-serif;
  text-align:center;
  color: rgb(205, 205, 205);
}

.bl-table-add-row {
  background-color: rgb(231, 109, 81);
  border: none;
  color: white;
  padding: 0px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bl-table-add-row:hover {
  background-color: rgb(201, 79, 51);
  color: rgb(35, 35, 35);
  border: none;
  padding: 0px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bl-table-row {
  /* background-color: rgb(41, 42, 40); */
}

.bl-table-delete-row {
  background-color: rgb(231, 109, 81);
  border: none;
  color: white;
  padding: 0px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.bl-table-delete-row:hover {
  background-color: rgb(201, 79, 51);
  color: rgb(35, 35, 35);
  border: none;
  padding: 0px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.site-name {
  /* color: rgb(255, 255, 255); */
}

a:link, a:visited {
  background-color: rgb(52, 110, 124);
  color: rgb(235, 235, 235);
  text-align: center;
  text-decoration: none;
  padding: 0px 30px;
}

a:hover, a:active {
  background-color: rgb(231, 109, 81);
  color: rgb(35, 35, 35);
}
